<!doctype html>
<html>
  <head>
    <title>Formula 1.5 Infographics generator</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="styles/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="icon" type="image/png" href="images/logo-red.png" />
  </head>
  <body>
    <header>
      <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
        <div class="container">
          <span class="navbar-brand">
            <img class="logo" src="images/logo-white.png"/>
            Formula 1.5 Infographic generator
          </span>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/mkalam-alami/formula1point5/" target="_blank">View on Github</a>
            </li>
          </ul>
        </div>
      </div>

    </header>
    
    <main id="app">
      <div class="container">
        <p>This is just an early prototype! For now only 2018 practice and race sessions are supported. If there is interest this page could someday be made more powerful, eventually supporting all sorts of infographics.</p>
      </div>
      <br />

      <div class="container-fluid">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: tab === 'step1' }" v-on:click="tab = 'step1'">General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: tab === 'step2' }" v-on:click="tab = 'step2'">Parsing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: tab === 'step3' }" v-on:click="tab = 'step3'">Review</a>
          </li>
        </ul>

        <!-- ============ GENERAL TAB ============ -->

        <div class="tab-content">
          <div v-show="tab === 'step1'">
            <div class="row">
            <div class="col-md-6">
              <h2>Choose template</h2>

              <p>Currently selected: <b>{{ template.title }}</b></p>

              <button class="btn btn-secondary" v-bind:class="{ disabled: templateName === 'practice' }" v-on:click="templateName = 'practice'">Practice session</button>
              <button class="btn btn-secondary" v-bind:class="{ disabled: templateName === 'race' }" v-on:click="templateName = 'race'">Race</button>

            </div>
            <div class="col-md-6">
              <h2>Fill header data</h2>
              <form>
                <table>
                  <tr>
                    <td>Title</td>
                    <td><input type="text" v-model="title" /></td>
                  </tr>
                  <tr>
                    <td>City</td>
                    <td><input type="text" v-model="city" /></td>
                  </tr>
                  <tr>
                    <td>Flag (image URL)</td>
                    <td><input type="text" class="code" v-model="flagUrl" /></td>
                  </tr>
                  <tr>
                    <td>GP name</td>
                    <td><input type="text" v-model="gpName" /></td>
                  </tr>
                </table>
              </form>
            </div>
            </div>
          </div>

          <!-- ============ PARSING TAB ============ -->

          <div v-show="tab === 'step2'">
            <h2>1. Fetch data from <a href="https://www.formula1.com/en/results.html">F1.com standings</a></h2>
            <p>Select all the contents of a {{ template.title }} table and copy it.</p>
            <hr />
            <h2>2. Paste your data below</h2>
            <textarea v-model="rawData" v-on:keyup="runParser"></textarea>
            <div v-if="templateName === 'race'">
              <p><b>Race data:</b> Also add the contents of the <i>Pit stop summary</i> table below to fill pit stop data.</p>
              <textarea v-model="rawDataPits" v-on:keyup="runParser"></textarea>
            </div>
          </div>

          <!-- ============ RESULTS TAB ============ -->
        
          <div v-show="tab === 'step3'">
            <h2>Check the parsed results and make any adjustments</h2>
            <p>You can add stint data by hand, using letters <b>{{ supportedTyres }}</b> (Hypersoft = Y, Supersoft = s, Superhard = h)</p>
            <div class="error" v-show="error">
              <b>PARSING ERROR:</b>: {{ error }}
            </div>
            <table v-show="!error">
            <tr>
              <th v-for="column in template.outputColumns">{{ column.name }}</th>
            </tr>
            <tr v-for="row in parsedData">
              <td v-for="cell in row.model">
                <input type="text" v-model="cell.model" class="small" />
              </td>
            </tr>
            </table>
          </div>

        </div>

        <hr />
      </div>

      
      <div class="container">
        <h1>
          Result
          <button class="btn btn-primary" id="save">Save as PNG...</button>
        </h1>

        <div id="infographic1" class="infographic">
          <div class="infographic-header">
            <div class="infographic-logo">
              <img src="images/logo-white.png" />
            </div>
            <div class="infographic-title">{{ title }}</div>
            <div class="infographic-city">{{ city }}</div>
            <div class="infographic-flag">
              <img v-bind:src="flagUrl" />
            </div>
            <div class="infographic-gp-name">{{ gpName }}</div>
          </div>
          <table class="infographic-table">
            <tr class="infographic-table-header">
              <th v-for="column in template.outputColumns">
                {{ column.label }}
              </th>
            <!--  <th>Lap Time</th>
              <th>Stint</th>
              <th>Gap</th>
              <th>Laps</th>-->
            </tr>
            <tr v-for="row in parsedData" class="infographic-table-row">
              <td v-for="column in template.outputColumns" v-bind:class="infographicCellClass(column)">
                <div v-if="column.name === 'driver'">
                  <div class="infographic-stripe">
                    <div v-bind:style="row.model.team.model | stripeStyle"></div>
                  </div><!--
                  --><span class="firstname">{{ row.model.driver.model | firstName }}</span>
                  <span class="lastname">{{ row.model.driver.model | lastName }}</span>
                </div>
                <div v-else-if="column.name === 'team'">{{ row.model.team.model | shortTeamName }}</div>
                <div v-else-if="column.name === 'stint'" v-html="tyres(row.model.stint.model)"></div>
                <div v-else>{{ row.model[column.name].model }}</div>
              </td>
            </tr>
          </table>
        </div>
        </div>
      </div>
  
    </main>
    
    <script src="scripts/lib/dom-to-image.js"></script>
    <script src="scripts/lib/FileSaver.min.js"></script>
    <script src="scripts/lib/vue.js"></script>

    <script src="scripts/f1p5-parser.js"></script>
    <script src="scripts/f1p5-samples.js"></script>
    <script src="scripts/f1p5-data.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>