<!doctype html>
<html>
  <head>
    <title>Formula 1.5 Infographics generator</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="styles/lib/bootstrap.min.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="icon" type="image/png" href="images/logo-red.png" />
  </head>
  <body>
    <header>
      <div class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <span class="navbar-brand">
            <img class="logo" src="images/logo-white.png"/>
            Formula 1.5 Infographic generator
          </span>

          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="https://github.com/mkalam-alami/formula1point5/" target="_blank">View on Github</a>
            </li>
          </ul>
        </div>
      </div>

    </header>
    
    <main id="app">
      <div class="container">
        <p>This tool lets you generate infographics for the informal Formula 1.5 championship (<a href="https://www.reddit.com/r/Formula1Point5/">/r/Formula1Point5</a>, <a href="https://twitter.com/Formula1Point5">@Formula1Point5</a>). Feel free to report any issues or ideas <a href="https://github.com/mkalam-alami/formula1point5/">on Github</a>.</p>
      </div>

      <div class="container" v-cloak>
        <div class="row">
        <div class="col-xs-12">
          <div id="infographic" class="infographic" v-bind:class="templateClassNames()">
            <div class="infographic-header">
              <div class="infographic-logo">
                <img src="images/logo-white.png" />
              </div>
              <div class="infographic-title">{{ title }}</div>
              <div class="infographic-city">{{ city }}</div>
              <div class="infographic-flag">
                <img v-bind:src="flagUrl" />
              </div>
              <div class="infographic-gp-name">{{ gpName }}</div>
            </div>
            <table class="infographic-table">
              <tr class="infographic-table-header">
                <th v-for="column in template.outputColumns">{{ column.title }}</th>
              </tr>
              <tr v-for="row in parsedData" class="infographic-table-row">
                <td v-for="column in template.outputColumns" v-bind:class="infographicCellClass(column)">
                  <div v-if="column.name === 'driver'">
                    <div class="infographic-stripe">
                      <div v-bind:style="row.model.team.model | stripeStyle"></div>
                    </div><!--
                    --><span class="firstname">{{ row.model.driver.model | firstName }}</span>
                    <span class="lastname">{{ row.model.driver.model | lastName }}</span>
                  </div>
                  <div v-else-if="column.name === 'team'">{{ row.model.team.model | shortTeamName }}</div>
                  <div v-else-if="column.name.includes('stint')" v-html="tyres(row.model[column.name].model)"></div>
                  <div v-else-if="column.name === 'carpicture'"><img v-bind:src="carPicture(row.model.team.model)" /></div>
                  <div v-else>{{ row.model[column.name].model }}</div>
                </td>
              </tr>
            </table>
          </div>
          <div class="text-right">
            <button class="btn btn-primary btn-sm" id="save">Save result as PNG...</button> 
          </div>
        </div>
        </div>
      </div>

      <div class="container-fluid">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: tab === 'step1' }" v-on:click="tab = 'step1'">1. General</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: tab === 'step2' }" v-on:click="tab = 'step2'">2. Data import</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" v-bind:class="{ active: tab === 'step3' }" v-on:click="tab = 'step3'">3. Manual changes</a>
          </li>
        </ul>

        <div class="error" v-show="error" v-cloak>
          <b>PARSING ERROR:</b>: {{ error }}
        </div>
      
        <!-- ============ GENERAL TAB ============ -->

        <div class="tab-content" v-cloak>
          <div v-show="tab === 'step1'">
            <div class="row">
            <div class="col-md-6">
              <h2>Choose template</h2>

              <p>Currently selected: <b>{{ template.title }}</b></p>

              <span v-for="(availableTemplate, availableTemplateName) in availableTemplates">
                <button class="btn btn-secondary" v-bind:class="{ disabled: templateName === availableTemplateName }"
                  v-on:click="templateName = availableTemplateName">{{ availableTemplate.title }}</button>
                 &nbsp;
              </span>

            </div>
            <div class="col-md-6">
              <h2>Fill header data</h2>
              <form>
                <table>
                  <tr>
                    <td>Title</td>
                    <td style="width: 75%"><input type="text" v-model="title" /></td>
                  </tr>
                  <tr>
                    <td>City</td>
                    <td><input type="text" v-model="city" /></td>
                  </tr>
                  <tr>
                    <td>Flag URL (<a href="https://commons.wikimedia.org/wiki/Category:SVG_sovereign_state_flags">source</a>)</td>
                    <td><input type="text" class="code" v-model="flagUrl" /></td>
                  </tr>
                  <tr>
                    <td>GP name</td>
                    <td><input type="text" v-model="gpName" /></td>
                  </tr>
                </table>
              </form>
            </div>
            </div>
          </div>

          <!-- ============ PARSING TAB ============ -->

          <div v-show="tab === 'step2'" v-cloak>
            <h2>Fetch data from <a href="https://www.formula1.com/en/results.html">F1.com standings</a></h2>
            <p>Select all the contents of a {{ template.title }} table and copy it.</p>
            <hr />
            <h2>Paste your data below</h2>
            <textarea v-model="rawData" v-on:keyup="runParser"></textarea>
            <div v-if="templateName === 'race'">
              <p><b>Race data:</b> Also add the contents of the <i>Pit stop summary</i> table below to fill pit stop data.</p>
              <textarea v-model="rawDataPits" v-on:keyup="runParser"></textarea>
            </div>
          </div>

          <!-- ============ RESULTS TAB ============ -->
        
          <div v-show="tab === 'step3'" v-cloak>
            <h2>Check the parsed results and make any adjustments</h2>
            <p>You can add stint data by hand by using letters <b>{{ supportedTyres }}</b></p>
            <table v-show="!error">
            <tr>
              <th v-for="column in template.outputColumns">{{ column.name }}</th>
            </tr>
            <tr v-for="row in parsedData">
              <td v-for="cell in row.model">
                <input type="text" v-model="cell.model" class="small" />
              </td>
            </tr>
            </table>
          </div>

        </div>
      </div>
  
    </main>
    
    <script src="scripts/lib/dom-to-image.js"></script>
    <script src="scripts/lib/FileSaver.min.js"></script>
    <script src="scripts/lib/vue.js"></script>

    <script src="scripts/f1p5-samples.js"></script>
    <script src="scripts/f1p5-data-2019.js"></script>
    <script src="scripts/f1p5-parser.js"></script>
    <script src="scripts/app.js"></script>
  </body>
</html>