@font-face {
	font-family: "F1Black";
	src: url('Formula1-Black.ttf');
}
@font-face {
	font-family: "F1Bold";
	src: url('Formula1-Bold.ttf');
}
@font-face {
	font-family: "F1Regular";
	src: url('Formula1-Regular.ttf');
}
@font-face {
	font-family: "F1Wide";
	src: url('Formula1-Wide.ttf');
}

[v-cloak] {
  display: none
}

body {
  font-family: F1Regular;
  padding-bottom: 30px;
}

main {
  padding-top: 20px;
}

.logo {
  height: 35px;
}

h1 {
  color: white;
  background-color: #333;
  font-family: F1Bold;
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}
h1 img {
  height: 30px;
}
h1 a {
  color: #445;
}

h2 {
  background-color: #333;
  font-family: F1Bold;
  font-size: 1.3rem;
  padding: 5px;
  margin-bottom: 5px;
}

p {
  margin-bottom: 10px;
}

hr {
  border-color: #444;
  margin-top: 0;
}

.error {
  margin-top: 10px;
  background-color: #ea3220;
  padding: 10px;
}

table {
  line-height: 1rem;
}

/* Navigation */

.nav-link {
  cursor: pointer;
}

.tab-content {
  padding: 20px;
  min-height: 400px;
}

/* Forms */

input, textarea {
  background-color: #15151e;
  color: white;
  border: 0;
  border-left: 3px solid #000;
  border-bottom: 3px solid #000;
  padding: 2px;
  margin: 2px;
}

textarea {
  width: 100%;
  height: 100px;
  border: 0;
  resize: vertical;
}

label {
  width: 100px;
  display: inline-block;
}

form table {
  width: 100%;
}

form input {
  font-size: 1.2rem;
  width: 95%;
}

input.code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
}

input.small {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 0;
  margin: 0;
  border: 0;
}

#save {
  margin-top: 10px;
}

/* Infographic */

.infographic {
  background-color: #15151e;
  color: white;
  font-family: F1Regular;
  width: 1024px;
  margin: auto;
  padding-bottom: 20px;
}

.infographic-header {
  display: flex;
  border-bottom: 1px solid #5c5c64;
  margin-bottom: 20px;
  height: 65px;
  line-height: 65px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.infographic-logo {
  position: relative;
  width: 170px;
}
.infographic-logo img {
  position: absolute;
  top: 20px;
  left: 20px;
  height: 25px;
}

.infographic-title {
  font-family: F1Bold;
  flex-grow: 1.5;
}

.infographic-flag {
  width: 70px;
  text-align: center;
}
.infographic-flag img {
  height: 13px;
  padding: 0 10px;
}

.infographic-gp-name {
  font-family: F1Bold;
  padding-right: 20px;
  color: #ea3220;
}

.infographic-table {
  width: 96%;
  margin: 0 3%;
  border-collapse:separate; 
  border-spacing: 2px;
}

.infographic-table-header th {
  font-weight: normal;
  text-align: center;
  padding-bottom: 3px;
}

.infographic-table-row {
  line-height: 22px;
  font-size: 0.9rem;
}

.infographic-ranking {
  background-color: white;
  color: #15151e;
  width: 25px;
  text-align: center;
  font-family: F1Bold;
}
.infographic-stripe {
  display: inline-block;
  width: 16px;
}
.infographic-stripe div {
  height: 12px;
  width: 4px;
  margin-left: 4px;
}
.infographic-laptime {
  text-align: center;
  font-family: F1Bold;
}
.infographic-delta {
  min-width: 40px;
  text-align: center;
  font-family: F1Bold;
}
.infographic-laps {
  min-width: 40px;
  text-align: center;
}
.infographic-pits, .infographic-pts, .infographic-q1, .infographic-q2, .infographic-q3 {
  text-align: center;
  font-family: F1Bold;
}
.infographic-carpicture img {
  max-height: 25px;
}

.tyre {
  display: inline-block;
  margin-right: 3px;
  width: 15.5px;
  line-height: 16px;
  vertical-align: middle;
  font-family: 'Arial Black', Gadget, sans-serif;
  font-size: 0.7rem;
  text-align: center;
}
.tyre::before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  background: url('../images/tyre.png') no-repeat;
  background-size: contain;
}
.tyre.HS2018 {
  color: #ffc0cb; /* TODO migrate to filter */
}
.tyre.US2018 {
  color: #ba4daa; /* TODO migrate to filter */
}
.tyre.SS2018::before, .tyre.S2019::before {
  filter:brightness(0.3) sepia(1) saturate(5000%) hue-rotate(0deg); /* red */
}
.tyre.S2018::before, .tyre.M2019::before {
  filter: brightness(0.8) sepia(1) saturate(10000%) hue-rotate(0deg); /* yellow */
}
.tyre.M2018::before, .tyre.H2019::before {
  filter: none; /* white */
}
.tyre.H2018 {
  color: #43c5ed; /* TODO migrate to filter */
}
.tyre.HS2018 {
  color: #ea6517; /* TODO migrate to filter */
}
.tyre.I2018 {
  color: #3ac82c; /* TODO migrate to filter */
}
.tyre.W2018 {
  color: #4491d2; /* TODO migrate to filter */
}

/* DHL Style */

.dhl {
  background-image: url('../images/bg-dhl.jpg');
  background-size: cover;
}

.dhl, .dhl .lastname, .dhl .infographic-title, .dhl .infographic-gp-name {
  font-family: Arial, Helvetica, sans-serif !important;
  text-transform: uppercase;
}

.dhl .infographic-title {
  color: yellow;
}

.dhl .infographic-gp-name {
  color: white;
}

.dhl .infographic-city, .dhl .infographic-flag, .dhl .infographic-stripe, .dhl .firstname {
  display: none;
}
